body {
    margin: 0;
    font-family: sans-serif;
    height: 100vh;
}

.box {
    width: 120px;
    height: 120px;
    background-color: #fff;
    color: red;
    position: relative;
    left: 0;
    border: 2px solid;
    margin: auto;
    margin-top: 50px;
    overflow:auto ; /*visible, hidden, scroll, auto*/

}