body {
    margin: 0;
    font-family: sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #48e;
}

.box {
    margin: auto;
    padding: 20px 50px;
    border: 4px solid #000;
    width: fit-content;
    transform: skew(20dg);

}

.box:first-child {
    transform: rotate(20deg);
}
/*img {
        /*scale: 2 ;*Propiedad de transformacion*/
    /* filter: blur(); propiedad filtro
} */

