body {
    margin: 0;
    font-family: sans-serif;
}

.flexbox {
    display: flex;
    flex-direction: ROW; 
    justify-content: center /*para centrar si uso en el direction row* EJE PRINCIPAL/;
    align-items: center; /*si quiero centrar y tengo el direction en colunm uso este. Alinea en el eje cruzado*/

    /*flex-wrap: wrap; /*nos permite controlar el comportamiento de los flex item una vez que el espacio en el contenedor es insuficiente para abarcar todos. Se le da al flexbox, pueden cambiar de linea, una debajo del otro. Tambien eta flex-flow*/
}
.flex-item {
    
    width:180px ;
    background-color: #800;
    margin: 10px;
    color: #fff;
    font-size: 40px;
    text-align: center;
}

.flex-item:first-child {
    background-color: #f77;

}

.flex-item:last-child {
    background-color: #750;
}