/*.box {
        width: 100px;
        height: 100px;
        background: red;
        margin: 10px;


}

.box-default {
    padding: 25px;
    border: 10px solid black;
    box-sizing: border-box;
}
body {
    margin: 0;
}
.box-new {

    box-sizing:border-box;
    padding: 5px solid black
    ;
}*/

.colores {
    width: 100px;
    height: 100px;
    background: rgba(44, 255, 255, 0.64);
    margin: 20px;
}