.lista {
    border: 2px solid #000;
}

.lisa__item {
    color: grey;
    margin: 10px;
    list-style: square;
}

.item--danino {   /*clase modificadora "item danino para modificar solo la sal*/
    color: red;
}

.item--importante{  /*clase modificadora "item danino para modificar solo la harina*/

    color: blue;

}