body {
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
}

dialog {
    /*position: absolute;* dialog ya viene configurado para position absolute, open abro ysino lo pongo, no lo muestra*/
    background-color: #0009;
    width: 100vw;
    height: 100vh;
  
}
.modal__content {
    background-color: #fff;
    padding: 10px 20px;
    width: 80%;
    margin: auto;
    margin-top: 50px;
    position: relative;
}

.modal_tittle {
        margin-top: 10px;

}

.modal__close-button {
    background-color: black;
    color: #fff;
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 4px 12px;

}

