<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout con FlexBox</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <header class="header">
        <div class="header_overlay">

        </div>
        <div class="header_item-container">
            <img src="dw.jpg" class="header_img">
            <h1>ADA 13, Edición 2026</h1>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ducimus nihil asperiores 
            fugiat laborum voluptas sapiente suscipit minus impedit repellat cupiditate, 
            doloribus corrupti magni obcaecati et minima maiores. Officiis, veniam itaque.
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ducimus nihil asperiores 
            fugiat laborum voluptas sapiente suscipit minus impedit repellat cupiditate, 
            doloribus corrupti magni obcaecati et minima maiores. Officiis, veniam itaque.</p>
        </div>
    </header>
    <nav class="nav">
        <div class="nav__ul-container">
            <ul class="nav_ul">
                <li class="nav_item"><a href="#" class="nav_link">Home</a></li>
                <li class="nav_item"><a href="#" class="nav_link">About Us</a></li>
                <li class="nav_item"><a href="#" class="nav_link">Contact</a></li>
                <li class="nav_item"><a href="#" class="nav_link link-login">Log in</a></li>
            </ul>
        </div>
        <div class="nav__logo-container">
            <img src="Ada13.png" class="nav_logo">
        </div>

    </nav>

    <main>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iusto deserunt odio nemo impedit placeat dignissimos tempora expedit
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit laboriosam quod odio, deserunt, fuga consequuntur quidem enim 
        cupiditate reprehenderit quos earum culpa perferendis ex. Nemo deleniti perferendis eligendi eos nam!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate, expedita? Eligendi excepturi blanditiis voluptatem quod dol
        ore a nulla dolorem repellat rem quas expedita asperiores, ipsa ullam consequuntur commodi id molestiae?a 
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iusto deserunt odio nemo impedit placeat dignissimos tempora expedit
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iusto deserunt odio nemo impedit placeat dignissimos tempora expedit
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit laboriosam quod odio, deserunt, fuga consequuntur quidem enim 
        cupiditate reprehenderit quos earum culpa perferendis ex. Nemo deleniti perferendis eligendi eos nam!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate, expedita? Eligendi excepturi blanditiis voluptatem quod dolore 
        a nulla dolorem repellat rem quas expedita asperiores, ipsa ullam consequuntur commodi id molestiae?a 
        aspernatur fugiat esse sed consequatur voluptatem repudiandae quibusdam, dolores laudantium commodi earum non?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit laboriosam quod odio, deserunt, fuga consequuntur quidem enim 
        cupiditate reprehenderit quos earum culpa perferendis ex. Nemo deleniti perferendis eligendi eos nam!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate, expedita? Eligendi excepturi blanditiis voluptatem quod dolore 
        a nulla dolorem repellat rem quas expedita asperiores, ipsa ullam consequuntur commodi id molestiae?a
        aspernatur fugiat esse sed consequatur voluptatem repudiandae quibusdam, dolores laudantium commodi earum non?aspernatur fugiat esse 
        sed consequatur voluptatem repudiandae quibusdam, dolores laudantium commodi earum non?
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iusto deserunt odio nemo impedit placeat dignissimos tempora expedit
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit laboriosam quod odio, deserunt, fuga consequuntur quidem enim 
        cupiditate reprehenderit quos earum culpa perferendis ex. Nemo deleniti perferendis eligendi eos nam!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate, expedita? Eligendi excepturi blanditiis voluptatem quod dol
        ore a nulla dolorem repellat rem quas expedita asperiores, ipsa ullam consequuntur commodi id molestiae?a 
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iusto deserunt odio nemo impedit placeat dignissimos tempora expedit
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iusto deserunt odio nemo impedit placeat dignissimos tempora expedit
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit laboriosam quod odio, deserunt, fuga consequuntur quidem enim 
        cupiditate reprehenderit quos earum culpa perferendis ex. Nemo deleniti perferendis eligendi eos nam!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate, expedita? Eligendi excepturi blanditiis voluptatem quod dolore 
        a nulla dolorem repellat rem quas expedita asperiores, ipsa ullam consequuntur commodi id molestiae?a 
        aspernatur fugiat esse sed consequatur voluptatem repudiandae quibusdam, dolores laudantium commodi earum non?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit laboriosam quod odio, deserunt, fuga consequuntur quidem enim 
        cupiditate reprehenderit quos earum culpa perferendis ex. Nemo deleniti perferendis eligendi eos nam!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate, expedita? Eligendi excepturi blanditiis voluptatem quod dolore 
        a nulla dolorem repellat rem quas expedita asperiores, ipsa ullam consequuntur commodi id molestiae?a
        aspernatur fugiat esse sed consequatur voluptatem repudiandae quibusdam, dolores laudantium commodi earum non?aspernatur fugiat esse 
        sed consequatur voluptatem repudiandae quibusdam, dolores laudantium commodi earum non?
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iusto deserunt odio nemo impedit placeat dignissimos tempora expedit
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit laboriosam quod odio, deserunt, fuga consequuntur quidem enim 
        cupiditate reprehenderit quos earum culpa perferendis ex. Nemo deleniti perferendis eligendi eos nam!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate, expedita? Eligendi excepturi blanditiis voluptatem quod dol
        ore a nulla dolorem repellat rem quas expedita asperiores, ipsa ullam consequuntur commodi id molestiae?a 
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iusto deserunt odio nemo impedit placeat dignissimos tempora expedit
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iusto deserunt odio nemo impedit placeat dignissimos tempora expedit
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit laboriosam quod odio, deserunt, fuga consequuntur quidem enim 
        cupiditate reprehenderit quos earum culpa perferendis ex. Nemo deleniti perferendis eligendi eos nam!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate, expedita? Eligendi excepturi blanditiis voluptatem quod dolore 
        a nulla dolorem repellat rem quas expedita asperiores, ipsa ullam consequuntur commodi id molestiae?a 
        aspernatur fugiat esse sed consequatur voluptatem repudiandae quibusdam, dolores laudantium commodi earum non?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit laboriosam quod odio, deserunt, fuga consequuntur quidem enim 
        cupiditate reprehenderit quos earum culpa perferendis ex. Nemo deleniti perferendis eligendi eos nam!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate, expedita? Eligendi excepturi blanditiis voluptatem quod dolore 
        a nulla dolorem repellat rem quas expedita asperiores, ipsa ullam consequuntur commodi id molestiae?a
        aspernatur fugiat esse sed consequatur voluptatem repudiandae quibusdam, dolores laudantium commodi earum non?aspernatur fugiat esse 
        sed consequatur voluptatem repudiandae quibusdam, dolores laudantium commodi earum non?
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iusto deserunt odio nemo impedit placeat dignissimos tempora expedit
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit laboriosam quod odio, deserunt, fuga consequuntur quidem enim 
        cupiditate reprehenderit quos earum culpa perferendis ex. Nemo deleniti perferendis eligendi eos nam!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate, expedita? Eligendi excepturi blanditiis voluptatem quod dol
        ore a nulla dolorem repellat rem quas expedita asperiores, ipsa ullam consequuntur commodi id molestiae?a 
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iusto deserunt odio nemo impedit placeat dignissimos tempora expedit
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iusto deserunt odio nemo impedit placeat dignissimos tempora expedit
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit laboriosam quod odio, deserunt, fuga consequuntur quidem enim 
        cupiditate reprehenderit quos earum culpa perferendis ex. Nemo deleniti perferendis eligendi eos nam!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate, expedita? Eligendi excepturi blanditiis voluptatem quod dolore 
        a nulla dolorem repellat rem quas expedita asperiores, ipsa ullam consequuntur commodi id molestiae?a 
        aspernatur fugiat esse sed consequatur voluptatem repudiandae quibusdam, dolores laudantium commodi earum non?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit laboriosam quod odio, deserunt, fuga consequuntur quidem enim 
        cupiditate reprehenderit quos earum culpa perferendis ex. Nemo deleniti perferendis eligendi eos nam!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate, expedita? Eligendi excepturi blanditiis voluptatem quod dolore 
        a nulla dolorem repellat rem quas expedita asperiores, ipsa ullam consequuntur commodi id molestiae?a
        aspernatur fugiat esse sed consequatur voluptatem repudiandae quibusdam, dolores laudantium commodi earum non?aspernatur fugiat esse 
        sed consequatur voluptatem repudiandae quibusdam, dolores laudantium commodi earum non?
        ore a nulla dolorem repellat rem quas expedita asperiores, ipsa ullam consequuntur commodi id molestiae?a 
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iusto deserunt odio nemo impedit placeat dignissimos tempora expedit
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iusto deserunt odio nemo impedit placeat dignissimos tempora expedit
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit laboriosam quod odio, deserunt, fuga consequuntur quidem enim 
        cupiditate reprehenderit quos earum culpa perferendis ex. Nemo deleniti perferendis eligendi eos nam!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate, expedita? Eligendi excepturi blanditiis voluptatem quod dolore 
        a nulla dolorem repellat rem quas expedita asperiores, ipsa ullam consequuntur commodi id molestiae?a 
        aspernatur fugiat esse sed consequatur voluptatem repudiandae quibusdam, dolores laudantium commodi earum non?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit laboriosam quod odio, deserunt, fuga consequuntur quidem enim 
        cupiditate reprehenderit quos earum culpa perferendis ex. Nemo deleniti perferendis eligendi eos nam!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate, expedita? Eligendi excepturi blanditiis voluptatem quod dolore 
        a nulla dolorem repellat rem quas expedita asperiores, ipsa ullam consequuntur commodi id molestiae?a
        aspernatur fugiat esse sed consequatur voluptatem repudiandae quibusdam, dolores laudantium commodi earum non?aspernatur fugiat esse 
        sed consequatur voluptatem repudiandae quibusdam, dolores laudantium commodi earum non?
        ore a nulla dolorem repellat rem quas expedita asperiores, ipsa ullam consequuntur commodi id molestiae?a 
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iusto deserunt odio nemo impedit placeat dignissimos tempora expedit
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iusto deserunt odio nemo impedit placeat dignissimos tempora expedit
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit laboriosam quod odio, deserunt, fuga consequuntur quidem enim 
        cupiditate reprehenderit quos earum culpa perferendis ex. Nemo deleniti perferendis eligendi eos nam!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate, expedita? Eligendi excepturi blanditiis voluptatem quod dolore 
        a nulla dolorem repellat rem quas expedita asperiores, ipsa ullam consequuntur commodi id molestiae?a 
        aspernatur fugiat esse sed consequatur voluptatem repudiandae quibusdam, dolores laudantium commodi earum non?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit laboriosam quod odio, deserunt, fuga consequuntur quidem enim 
        cupiditate reprehenderit quos earum culpa perferendis ex. Nemo deleniti perferendis eligendi eos nam!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate, expedita? Eligendi excepturi blanditiis voluptatem quod dolore 
        a nulla dolorem repellat rem quas expedita asperiores, ipsa ullam consequuntur commodi id molestiae?a
        aspernatur fugiat esse sed consequatur voluptatem repudiandae quibusdam, dolores laudantium commodi earum non?aspernatur fugiat esse 
        sed consequatur voluptatem repudiandae quibusdam, dolores laudantium commodi earum non?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit laboriosam quod odio, deserunt, fuga consequuntur quidem enim 
        cupiditate reprehenderit quos earum culpa perferendis ex. Nemo deleniti perferendis eligendi eos nam!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate, expedita? Eligendi excepturi blanditiis voluptatem quod dolore 
        a nulla dolorem repellat rem quas expedita asperiores, ipsa ullam consequuntur commodi id molestiae?a
        aspernatur fugiat esse sed consequatur voluptatem repudiandae quibusdam, dolores laudantium commodi earum non?aspernatur fugiat esse 
        sed consequatur voluptatem repudiandae quibusdam, dolores laudantium commodi earum non?
        ore a nulla dolorem repellat rem quas expedita asperiores, ipsa ullam consequuntur commodi id molestiae?a 
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iusto deserunt odio nemo impedit placeat dignissimos tempora expedit
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iusto deserunt odio nemo impedit placeat dignissimos tempora expedit
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit laboriosam quod odio, deserunt, fuga consequuntur quidem enim 
        cupiditate reprehenderit quos earum culpa perferendis ex. Nemo deleniti perferendis eligendi eos nam!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate, expedita? Eligendi excepturi blanditiis voluptatem quod dolore 
        a nulla dolorem repellat rem quas expedita asperiores, ipsa ullam consequuntur commodi id molestiae?a 
        aspernatur fugiat esse sed consequatur voluptatem repudiandae quibusdam, dolores laudantium commodi earum non?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit laboriosam quod odio, deserunt, fuga consequuntur quidem enim 
        cupiditate reprehenderit quos earum culpa perferendis ex. Nemo deleniti perferendis eligendi eos nam!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate, expedita? Eligendi excepturi blanditiis voluptatem quod dolore 
        a nulla dolorem repellat rem quas expedita asperiores, ipsa ullam consequuntur commodi id molestiae?a
        aspernatur fugiat esse sed consequatur voluptatem repudiandae quibusdam, dolores laudantium commodi earum non?aspernatur fugiat esse 
        sed consequatur voluptatem repudiandae quibusdam, dolores laudantium commodi earum non?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit laboriosam quod odio, deserunt, fuga consequuntur quidem enim 
        cupiditate reprehenderit quos earum culpa perferendis ex. Nemo deleniti perferendis eligendi eos nam!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate, expedita? Eligendi excepturi blanditiis voluptatem quod dolore 
        a nulla dolorem repellat rem quas expedita asperiores, ipsa ullam consequuntur commodi id molestiae?a
        aspernatur fugiat esse sed consequatur voluptatem repudiandae quibusdam, dolores laudantium commodi earum non?aspernatur fugiat esse 
        sed consequatur voluptatem repudiandae quibusdam, dolores laudantium commodi earum non?
        ore a nulla dolorem repellat rem quas expedita asperiores, ipsa ullam consequuntur commodi id molestiae?a 
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iusto deserunt odio nemo impedit placeat dignissimos tempora expedit
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iusto deserunt odio nemo impedit placeat dignissimos tempora expedit
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit laboriosam quod odio, deserunt, fuga consequuntur quidem enim 
        cupiditate reprehenderit quos earum culpa perferendis ex. Nemo deleniti perferendis eligendi eos nam!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate, expedita? Eligendi excepturi blanditiis voluptatem quod dolore 
        a nulla dolorem repellat rem quas expedita asperiores, ipsa ullam consequuntur commodi id molestiae?a 
        aspernatur fugiat esse sed consequatur voluptatem repudiandae quibusdam, dolores laudantium commodi earum non?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit laboriosam quod odio, deserunt, fuga consequuntur quidem enim 
        cupiditate reprehenderit quos earum culpa perferendis ex. Nemo deleniti perferendis eligendi eos nam!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate, expedita? Eligendi excepturi blanditiis voluptatem quod dolore 
        a nulla dolorem repellat rem quas expedita asperiores, ipsa ullam consequuntur commodi id molestiae?a
        aspernatur fugiat esse sed consequatur voluptatem repudiandae quibusdam, dolores laudantium commodi earum non?aspernatur fugiat esse 
        sed consequatur voluptatem repudiandae quibusdam, dolores laudantium commodi earum non?
    </main>
    
</body>
</html>


