body {
    margin: 0;
    font-family: sans-serif;
}

img {
    width: 200px;
    height: 200px;
    object-fit: cover; /*ocupa todo el contenido*/
    object-position: bottom;
    border: 2px solid #000;
    margin-top: 50px;
    margin-left: 50px;
    
}